# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
md

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.backup
.env.backup.local
.env.backup2
.env.backup2.local
.env.local
.env.example
.env.example.local
.env.main
.env.main.local
.env.mainnet
.env.mainnet.local
.env.netlify
.env.vercel
.env.develop
.env.develop.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.sample
.env.sample.local
.env.test
.env.test.local
